<div class="container">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p><input type="text" value="0AoBMpdNsbHMGdG0wVUp5enVoMUZCYVFnTm5TS3ZHUlE" class="form-control" /></p>
        <p><a class="btn btn-primary btn-lg js-load" role="button">Load</a></p>
    </div>
</div>