<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DMX</a>

            <ul class="nav navbar-nav">
                <li class="disabled nav-channels"><a href="#">Channels</a></li>
                <li class="disabled nav-conflicts"><a href="#">Conflicts <span class="badge js-conflicts">0</span></a></li>
                <li class="disabled nav-patch"><a href="#">Patch</a></li>
                <li class="hidden disabled nav-export"><a href="#">Export</a></li>
            </ul>
        </div>
    </div>
</nav>